


.pages
  +f(center, center)
  a
    display: block
    margin: 0 4px
    +f(center, center)
    +size(27px)
    color: $brown-dark
    border-radius: 50%
    font-size: 14px
    flex-shrink: 0
    &:not([class^="icon"])
      border: 1px solid $brown-dark

    &:hover,
    &.active
      background-color: $brown-dark
      color: white

  +max(330)
    [class^="icon"]
      margin: 0


=afterline($height, $color: rgb(199,199,199))
  line-height: $height
  position: relative
  &:after
    content: ""
    display: block
    border-right: 1px solid $color
    +position(absolute, 0 0 null null )
    height: $height


.breadcrumb
  +padding( 20px null)
  white-space: nowrap
  ul
    +f(flex-start, center)
    li:before
      color: $orange
      margin: 0 10px
      font-weight: bolder

  +max(330)
    li:nth-child(3)
      display: none


.slcik-menu
  border-top: 1px solid $brown-230
  box-shadow: inset 0 -4px rgb(240, 231, 222)
  =shorterLine
    content: ""
    +size(0px ,30px)
    border-right: 1px solid $brown-230
    +position(absolute, 50% 0 null null)
    transform: translateY(-50%)
  
  ul
    max-width: 1400px
    +margin(null auto)
    +padding(null 40px)
    +f
  li  

    flex: 1 1 auto
    line-height: 1.4
    +min(990)
      max-width: 175px  //會跟slcik有衝突

  a
    height: 58px
    +fc
    position: relative
    font-weight: bold
    // z-index: 1
    // line-height: 1.5
    text-align: center
    &:after
      +shorterLine
        
  li:first-child
    a:before
      +shorterLine
      left: 0px

  li.active
    border-bottom: 4px solid $brown-dark
    a
      color: $brown-dark
      font-weight: bold
      letter-spacing: 1px

  li:hover
    a
      color: $brown-dark
      transition: color 0.3s

  .slick-arrow
    +size(40px , 100%)
    +fc
    height: 58px
    position: absolute
    
  .slick-arrow
    color: #F7B550
    
  .icon-prev
    left: 0
    &:after
      +shorterLine
  .icon-next
    right: 0
    &:after
      +shorterLine
      left: 0


  +max(400)
    ul
      font-size: 15px
    a
      font-weight: 400


.epapper
  .unsubscribe
    display: none

  width: 100%
  max-width: 530px
  border: 1px solid #D1AF81
  box-shadow: 3px 3px 15px rgba(black,0.2)
  background-color: #fff
  text-align: center
  border-radius: 10px
  overflow: hidden

  .epapper__toggle
    height: 50px
    +fc
    background: linear-gradient(to bottom, rgb(255,255,255), rgb(249,245,235))
    border-bottom: 1px solid rgb(239,239,239)  

    > div 
      +size(120px, 100%)
      +fc
      cursor: pointer

    > .current
      font-weight: bold
      color: rgb(142, 108, 80)
      box-shadow: inset 0 -2px 0px rgb(222, 207, 186)


  .epapper__main
    +padding(36px 80px 64px)
    text-align: center

  .f24
    margin-top: 5px

  input
    +size(100%, 40px)
    border: 1px solid $brown
    +padding(null 15px)
    color: $brown
    +trans
    &::placeholder
      color: #A57B4B
    &:hover
      background-color: $brown-light
    &:focus
      color: #A57B4B
      border-color: #A57B4B

  .verify
    +f(flex-start, center)
    img
      cursor: pointer

  .login_btn
    +fc
    > a
      color: $white
      +size(170px, 40px)
      +fc
      background-color: rgb(99, 99, 99)
      border-radius: 3px
      +hoverBgc(rgb(63, 63, 63))

    .mr
      margin-right: 22px
      background-color: #A57B4B
      +hoverBgc(#d37d1b)


  .epapper__main
    +max(767)
      +padding(25px 40px 40px)

    +max(374)
      +padding(25px 30px 30px)
      .login_btn .mr
        margin-right: 8px




.modal
  width: 100%
  max-width: 530px
  border: 1px solid #D1AF81
  background-color: #fff
  text-align: center
  border-radius: 6px
  overflow: hidden

  .modal__main
    +padding(48px 60px 64px)
    text-align: center

  .f24
    margin-top: 5px

  .modal-bottom
    height: 136px
    width: 100%
    +f(center,center)
    border-top: 1px solid #D1AF81

    > a
      color: rgb(178, 138, 89)
      +hoverText(#d37d1b)
      +f(center,center, column)

      [class*="icon"]
        font-size: 1.8rem
        margin-bottom: 10px

      .icon-user 
        font-size: 1.1rem
        border: 2px solid rgb(178, 138, 89)
        border-radius: 50%
        +size(40px)
        +fc
      
    > a:hover .icon-user 
      border-color: #d37d1b

    > a:not(:last-child)
      margin-right: 70px
        
  .modal__main
    +max(767)
      +padding(25px 40px 40px)

    +max(374)
      +padding(25px 30px 30px)


.modal.lg
  max-width: 600px
  .modal__main
    +padding(48px 60px 40px)

    +max(767)
      +padding(25px 40px 40px)

    +max(374)
      +padding(null 20px 30px)


.modal.dark
  z-index: 2
  .modal__main
    +padding(48px 50px 40px)
    background-color: rgb(244, 240, 239)







.plain
  width: 100%

  table
    text-align: center
    white-space: nowrap
    width: 100%

  tr
    border-bottom: 1px solid #E5E5E5
    &:first-child
      background-color: rgb(202, 153, 97)
      color: white
    &:last-child
      border-bottom: 1px solid rgb(202, 153, 97)
    &:nth-child(odd):not(:first-child)
      background-color: #F6F6F6

    a
      color: #B47832
      text-decoration: underline

  +max(991)
    font-size: 15px


.control-row
  +f
  .f24
    margin-right: auto
  .group
    +f

  .select_unit select,
  .search_unit input[type="search"] 
    border: 1px solid #ddd
    color: #777
    &::placeholder 
      color: #777


  +max(990)
    flex-wrap: wrap
    justify-content: space-between

    .search_unit
      width: calc(40% - 15px)
      order: 2

    .select_unit.md
      order: 3

    .select_unit  
      margin-bottom: 0.8rem
      margin-right: 0
      width: calc(60% - 15px)
      span 
        width: 100px
        flex-shrink: 0
      

  +max(550)
    .select_unit
      order: 1 !important
    .f24,
    [class*="_unit"]
      width: calc(100%)
      +margin(null 0 1rem null)
      span 
        width: 90px
    .search_unit
      width: calc(100% - 90px)
      margin-left: auto





.container.sm
  max-width: 740px
  
.box
  border-radius: 5px
  background-color: #fff
  overflow: hidden
  box-shadow: 0 2px 6px rgba(black,0.1)

  .box__title
    background-color: rgb(203, 154, 96)
    color: rgba(white, 0.9)
    +padding(0.75rem null )

  .box__title,
  .box__content
    +padding(null 38px)

  // .group
    // +f(flex-start,center)
    // position: relative
    // padding-left: 96px

    // > span:first-child
    //   +position(absolute, 0 null null 0)
    //   +size(66px, 38px)
    //   width: 66px
    //   line-height: 38px
    //   flex-shrink: 0
    //   margin-right: 30px
  

  .box__content.top
    +padding(1.2rem null )
    .brown
      +fc
      height: 40px
    .change
      a
        margin-left: 15px
        color: #B47832
      span
        transform: translateY(4px)
        // display: inline-block



  .box__content.bottom
    +padding(2.2rem null )

  .radio_unit
    flex: 1 0 110px
    label:before
      margin-right: 10px

    &.transX
      transform: translateX(15px)


  .addr
    .select_unit
      width: 120px
      margin-right: 18px
      
    input
      width: 120px
      


//profile 將group 改為line 有可能動到其他葉面，改到#profile下?
.box
  +max(580)
    
    .box__content
      +padding(1.5rem)

    .line
      padding-left: 86px
      > span:first-child
        margin-right: 20px

    .line.addr
      flex-wrap: wrap
      > *:not(:first-child)
        width: 100%
      > *:not(:first-child)
        +margin(null 0 13px null)
      > *:last-child
        margin-bottom: 0px

    .line.name
      flex-wrap: wrap
      input
        width: 100%

    .radio_unit
      max-width: 80px
      label
        justify-content: flex-start

      &.transX
        transform: translateX(0px)

  +max(350)
    .container.sm > span.f16
      display: block
    .box__content
      +padding(1rem)
      font-size: 15px

    .line
      padding-left: 76px
      > span:first-child
        width: 60px
        white-space: nowrap
      input, select
        +padding(null 8px)

    .box__content.top .line
      padding-left: 56px



.submit
  border-top: 1px solid $brown
  +fc
  .btn
    +size(200px, 38px)
    margin: 0 15px
    padding: 0
    line-height: 38px
    color: white
    border-radius: 3px

  .btn:not(.cancel)
    background-color: rgb(165, 123, 75)
    +hoverBgc($brown-dark)

  .cancel
    background-color: rgb(100, 100, 100)
    +hoverBgc(rgb(60, 60, 60))

  +max(500)
    +padding(null 10px)
    .btn
      margin: 0 10px

      

// input.std  //可以再把box 裡面的樣式簡化
//   +size(100%, 38px)
//   line-height: 38px
//   +padding(null 15px)
//   border: 1px solid $brown
//   border-radius: 3px
//   color: $brown-dark
//   +trans
//   &::placeholder
//     color: $brown-dark
//   &:hover
//     background-color: $brown-light
//   &:focus
//     color: $brown-dark
//     border-color: $brown-dark