


.pages
  +f(center, center)
  a
    display: block
    font-family: Roboto
    margin: 0 5px
    +f(center, center)
    +size(35px)
    color: #777
    border-radius: 50%
    
    flex-shrink: 0
    &:not([class^="icon"])
      background-color: #eee
      

    &:hover,
    &.active
      background-color: $green
      color: #fff
      &:before
        color: #fff

  +max(400)
    a
      margin: 0 3px
      font-size: 14px
      +size(30px)

    [class^="icon"]
      margin: 0


=afterline($height, $color: rgb(199,199,199))
  line-height: $height
  position: relative
  &:after
    content: ""
    display: block
    border-right: 1px solid $color
    +position(absolute, 0 0 null null )
    height: $height


.breadcrumb
  background-color: $grayBgc
  white-space: nowrap

  ul
    +padding(25px null)
    border-top: 1px dashed #ccc
    +f(flex-start, center)

  ul > *
    +fc
    color: #999
    font-weight: bolder
    margin-bottom: 0
    font-size: 16px

    &:last-child
      color: #000

  .title
    position: relative
    padding-right: 25px
    margin-right: 25px
    color: #000

    &:after
      content: ""
      display: block
      height: 60%
      border-right: 1px solid #ccc
      +position(absolute, 10px 0 null null )

    [class^="icon-"]
      background-color: $green
      border-radius: 50%
      +size(50px)
      +fc
      padding-top: 3px
      &:before
        color: #ffffff
        width: auto

    [class^="icon-"] + span 
      font-weight: bold

  .icon-right::before
    margin: 0 12px
    
  .icon-user2
    font-size: 42px
    padding-bottom: 5px
    

  +max(768)
    ul
      +padding(12px null)
    .title [class^="icon-"]
      +size(45px)
  
  +max(480)

    .title [class^="icon-"]
      +size(36px)
    .title
      margin-right: 0
      padding-right: 5px
      &::after,
      [class^="icon-"] + span
        display: none

    .icon-user2
      font-size: 32px

.footGray
  background-color: #f0f0f0

.footGray + footer
  background-color: #f0f0f0
  
footer
  // margin-top: -60px
  // background: center / cover no-repeat
  padding-top: 60px
  +fcl(flex-end)

  position: relative
  svg 
    +position(absolute, 0 null null 0)
    height: 100%
  
  &,a
    color: #fff

  li
    margin-bottom: 4px

  .wrapper
    +container
    +fcl
    z-index: 1

  .copyright
    border-top: 1px solid rgba(#fff,0.3)
    width: 100%
    +fcl

    min-height: 60px
    +padding(15px)
    span 
      text-align: center
    .slash
      display: none

      
  address
    +fcl
    padding-right: 20px

  .address__logo
    margin-bottom: 20px

  .sitemap
    display: none

  .media
    +f
    [class*="icon"]
      +size(50px)
      font-size: 1.6rem
      background-color: #fff
      border-radius: 50%
      color: $green
      +fc
      +margin(null 8px 16px)

  .tel
    font-family: 'Roboto', sans-serif


  +min(768)
    padding-top: 80px
    li
      margin-bottom: 8px
      
    .wrapper
      +f(space-around, flex-start)
      margin-bottom: 20px
      
    address
      align-items: flex-start

    .copyright
      flex-direction: row
      .slash
        display: block
        +margin(null 10px)

    .media
      flex-direction: column
      margin-left: 30px
      [class*="icon"]
        +size(60px)
        font-size: 1.9rem

  +min(1200)
    padding-top: 120px
    .sitemap
      +fc
      flex-shrink: 0
      align-items: flex-start
      .title
        font-size: 20px
        padding-bottom: 10px
        margin-bottom: 12px
        border-bottom: 1px solid rgba(#fff, 0.3)
        font-weight: bold

    .block:not(:last-child)
      margin-right: 30px


    .block.tri ul
      max-width: 360px
      +f(space-between,center, row, wrap)
      li:nth-child(3n+1)
        flex: 1 1 25%
      li:nth-child(3n+2)
        flex: 1 1 35%
      li:nth-child(3n+3)
        flex: 1 1 30%

  +min(1600)
    .block:not(:last-child)
      margin-right: 50px
    .block
      ul
        padding-right: 20px
    .block.tri ul
      max-width: 420px
    .media
      margin-left: 0px


  
