


.pages
  +f(center, center)
  a
    display: block
    margin: 0 4px
    +f(center, center)
    +size(27px)
    color: $brown-dark
    border-radius: 50%
    font-size: 14px
    flex-shrink: 0
    &:not([class^="icon"])
      border: 1px solid $brown-dark

    &:hover,
    &.active
      background-color: $brown-dark
      color: white

  +max(330)
    [class^="icon"]
      margin: 0


=afterline($height, $color: rgb(199,199,199))
  line-height: $height
  position: relative
  &:after
    content: ""
    display: block
    border-right: 1px solid $color
    +position(absolute, 0 0 null null )
    height: $height


.breadcrumb
  +padding( 20px null)
  white-space: nowrap
  ul
    +f(flex-start, center)
    li:before
      color: $orange
      margin: 0 10px
      font-weight: bolder

  +max(330)
    li:nth-child(3)
      display: none


.slcik-menu
  border-top: 1px solid $brown-230
  box-shadow: inset 0 -4px rgb(240, 231, 222)
  =shorterLine
    content: ""
    +size(0px ,30px)
    border-right: 1px solid $brown-230
    +position(absolute, 50% 0 null null)
    transform: translateY(-50%)
  
  ul
    max-width: 1400px
    +margin(null auto)
    +padding(null 40px)
    +f
  li  

    flex: 1 1 auto
    line-height: 1.4
    +min(990)
      max-width: 175px  //會跟slcik有衝突

  a
    height: 58px
    +fc
    position: relative
    font-weight: bold
    // z-index: 1
    // line-height: 1.5
    text-align: center
    &:after
      +shorterLine
        
  li:first-child
    a:before
      +shorterLine
      left: 0px

  li.active
    border-bottom: 4px solid $brown-dark
    a
      color: $brown-dark
      font-weight: bold
      letter-spacing: 1px

  li:hover
    a
      color: $brown-dark
      transition: color 0.3s

  .slick-arrow
    +size(40px , 100%)
    +fc
    height: 58px
    position: absolute
    
  .slick-arrow
    color: #F7B550
    
  .icon-prev
    left: 0
    &:after
      +shorterLine
  .icon-next
    right: 0
    &:after
      +shorterLine
      left: 0


  +max(400)
    ul
      font-size: 15px
    a
      font-weight: 400




footer
  background: center / cover no-repeat
  padding-top: 60px
  +fcl(flex-end)
  &,a
    color: #fff

  li
    margin-bottom: 4px

  .wrapper
    +container
    +fcl

  .copyright
    border-top: 1px solid rgba(#fff,0.3)
    width: 100%
    +fcl

    min-height: 60px
    +padding(15px)
    span 
      text-align: center
    .slash
      display: none

      
  address
    +fcl
    padding-right: 20px

  .address__logo
    margin-bottom: 20px

  .sitemap
    display: none

  .media
    +f
    [class*="icon"]
      +size(50px)
      font-size: 1.6rem
      background-color: #fff
      border-radius: 50%
      color: $main
      +fc
      +margin(null 8px 16px)

  .tel
    font-family: 'Roboto', sans-serif


  +min(768)
    padding-top: 80px
    li
      margin-bottom: 8px
      
    .wrapper
      +f(space-around, flex-start)
      margin-bottom: 20px
      
    address
      align-items: flex-start

    .copyright
      flex-direction: row
      .slash
        display: block
        +margin(null 10px)

    .media
      flex-direction: column
      margin-left: 30px
      [class*="icon"]
        +size(60px)
        font-size: 1.9rem

  +min(1200)
    padding-top: 120px
    .sitemap
      +fc
      flex-shrink: 0
      align-items: flex-start
      .title
        font-size: 20px
        padding-bottom: 10px
        margin-bottom: 12px
        border-bottom: 1px solid rgba(#fff, 0.3)
        font-weight: bold

    .block:not(:last-child)
      margin-right: 30px


    .block.tri ul
      max-width: 360px
      +f(space-between,center, row, wrap)
      li:nth-child(3n+1)
        flex: 1 1 25%
      li:nth-child(3n+2)
        flex: 1 1 35%
      li:nth-child(3n+3)
        flex: 1 1 30%

  +min(1600)
    .block:not(:last-child)
      margin-right: 50px
    .block
      ul
        padding-right: 20px
    .block.tri ul
      max-width: 420px
    .media
      margin-left: 0px

        