
  
  
.cart-process
  background-color: $green
  height: 80px
  color: #fff
  +fc
  cursor: default
  

  .icon-arr-right
    color: #fff
    font-size: 20px
    font-weight: bold

    +max(500)
      display: none

  li
    +margin(null 35px)
    .num
      +size(32px)
      border: 3px solid #ffffff
      border-radius: 50%
      +fc
      display: inline-flex
      margin-right: 8px
      font-family: roboto
      padding-top: 1px
  li.fill
    .num
      background-color: #fff
      color: $green

  +max(600)
    li
      +margin(null 15px)
      .num
        margin-right: 8px

  +max(420)
    height: 60px
    li
      +margin(null 10px)
      font-size: 14px

      .num
        border: 1px solid #ffffff
        +size(20px)
        font-size: 12px
        margin-right: 2px




.delete
  background-color: #646464
  border-radius: 50%
  position: relative
  flex-shrink: 0
  +size(31px)
  cursor: pointer
  +hoverBgc(#111)

  &:after,
  &:before
    +size(16px, 2px)
    content: ""
    display: block
    background-color: #fff
    position: absolute
    top: calc(50% - 1px) 
    right: 50%
    transform: translate(50%) rotate(45deg)
  &:after
    transform: translate(50%) rotate(135deg)

  
.plain.cart

  +max(1200)
    
    td
      padding: 0 10px
    .n
      font-size: 16px

    .delete
      +size(20px)
      +margin(null 15px)

      &:after,
      &:before
        +size(10px, 1px)

    .lg
      +size(80px, 40px)
      background-size: 14px
      font-weight: normal
  
  +max(767)
    thead 
      display: none
    tr
      display: block
      +padding(15px null)
      position: relative

    .pic
      +position(absolute, null null null 40px)
      padding: 0

    tbody td
      padding-left: 200px

    td
      display: block
      height: auto
      text-align: left
      +padding(null 15px null)
      max-width: 100% 
      > div
        padding: 0
    .n.g
      +padding(6px null null null)

    .left
      text-align: right

    .info
      +padding(null 30px 10px -5px)
      text-indent: -7px

    .lg
      +size(70px, 30px)
      border-radius: 5px
      margin-left: -5px


    [data-title]:before
      width: 120px
      font-size: 14px
      content: attr(data-title)
      display: inline-block

    .delete
      +position(absolute, 20px 0 null null )
      background-color: #aaa
      

  +max(480)
    tr

      +padding(12px null)
    tbody td
      padding-left: 115px
    tfoot td
      +padding(null 15px)

    .pic
      width: 90px
      left: 10px

    .info
      font-size: 14px
      padding-right: 20px

    .n
      font-size: 14px
    .n.g
      +padding(0px null null null)

    .lg
      margin-top: 5px
      background: url(./images/tri-arrow.png) center right 10px no-repeat, #e6f5e7
      background-size: 10px
      
    .break
      display: block
      margin: 0
    
    .hide
      display: none

    .delete
      top: 16px
      right: -5px
      +size(16px)
      &:after,&:before
        +size(8px, 1px)


  +max(350)
    [data-title]:before
      width: 80px
    
    .info
      font-size: 13px
      padding-right: 18px
      
    tbody .n
      font-size: 12px

    [data-title]:before
      font-size: 12px

    .right span
      display: block




.cart-main

  .block
    border-top: 1px solid $green
    +padding(55px null)
    font-weight: bold

    .title
      width: 190px
      flex-shrink: 0
      font-size: 20px
      color: $green
      white-space: nowrap
      line-height: 60px
      
    .check_unit
      font-size: 16px
      line-height: normal
      color: #000

    &.flex
      +f

    &.center
      +fc
      .btn
        +hoverBgc($greenL)

    &.text-type
      .title
        line-height: 32px
        
      p
        color: #777
        margin-bottom: 0.3rem

    &.border-none
      border-top: 0px solid $green

    &.complete
      padding-top: 0px

      .line.spread .mr-auto
        margin-right: auto

      +max(400)
        .spread
          flex-wrap: wrap
          margin-bottom: 20px



  .wrapper
    align-self: center
    width: 100% 


  .check_unit
    .g
      +margin(null 3px)
      +hoverText($greenL)

  .check_unit.multi
    align-items: flex-start
    .box
      margin-top: 5px


  .row
    height: 60px
    justify-content: flex-start
    white-space: nowrap

  input,
  textarea,
  select
    +size(100%, 40px)
    background-color: #e6f5e7
    +padding(null 20px)
    border: 1px solid $green
    border-radius: 10px
    +trans
    font-weight: bold

    &::placeholder
      color: #999
    &:focus
      border-color: #028900

  textarea
    height: auto
    +padding(12px null )

  select
    background: url(./images/tri-arrow.png) center right 15px no-repeat, #e6f5e7
    width: 135px
    +trans

    &::-ms-expand
      display: none

    +hoverText($green)

  select.lg
    +min(1201)
      
      color: $green
      background: url(./images/tri-g.svg) center right -1px no-repeat, #e6f5e7
      +size(100px, 50px)
  



.plain.price
  td,
  th
    +padding(null 40px)
    text-align: right
    &:first-child
      text-align: left
    &:nth-child(n+2)
      width: 130px

  +max(1100)  
    th
      display: none

    tr
      position: relative
      overflow: hidden
      display: block
    td
      display: block
      text-align: left
      line-height: 38px
      height: auto
      +padding(0 0 0 140px)
      a
        +margin(null 3px)
    
    
    td:before
      width: 120px
      line-height: 38px
      content: attr(data-title)
      +position(absolute, null null null 0)
      display: block
      text-align: center
      background-color: rgb(239, 239, 239)
      

.wrapper.multi
  +f
  justify-content: space-between

  +max(1100)
    flex-direction: column
    align-items: flex-end
    .btn-container
      margin-top: 50px




.list-container
  width: 400px
  .list
    width: 100%
    line-height: 60px
    border-bottom: 1px solid #ccc
  .list:first-child
    border-top: 1px solid #ccc

  .robo
    float: right
    color: #777
  .f24
    color: $green
    font-weight: bold

.list-container.complete
  float: right


.gender
  +fc
  .radio_unit
    width: 100px
    label:before
      margin-right: 10px

    &:nth-last-child(2)
      +margin(null 35px)

    &:last-child
      +min(1366)
        margin-right: 80px

.line
  min-height: 60px
  +fc(flex-start)
  select
    width: 200px

.radio-inline
  +fc(flex-start)
  .radio_unit
    margin-right: 22px
    label:before
      margin-top: 3px
      margin-right: 10px


.tmp-block
  padding: 20px
  border: 1px dashed #ff0000
  height: 230px
  border-radius: 20px
  +fc
  color: #ff0000
  


.cart-main

  +max(767)
    .row
      flex-wrap: wrap
      height: auto

      .mr16 + label
        margin-top: 12px


    .block
      +padding(20px null 35px null)

    .block
      .title
        display: inline-block
      
    .block.flex:not(.center)
      display: block

    .wrapper.multi
      align-items: center

    .list-container
      width: 100%

  +max(400)
    .row > span 
      margin-bottom: 12px

    .plain.price

      td
        padding-left: 90px
        padding-right: 5px
        &:before
          width: 85px


    .wrapper.multi

      .btn-container
        margin-top: 35px


.row.xl-col        
  +max(1023)
    flex-wrap: wrap
    height: auto
    label
      margin-bottom: 12px

.info
  +max(767)
    .f32
      margin-bottom: 0

    .column.lg
      th,td
        +padding(null 22px)

    .gender
      flex-wrap: wrap
      justify-content: flex-start

      .radio_unit:nth-last-child(2)
        margin: 0

      input
        margin-bottom: 12px


  .radio-inline
    flex-wrap: wrap
    .radio_unit
      margin-bottom: 8px


  +max(400)
    label
      white-space: nowrap
    .column.lg
      th,td
        +padding(null 10px )

    .gender
      label
        +padding(5px null)

