
.editor
  ul
    line-height: 2
  .f32
    +margin(40px null)

  table
    margin-bottom: 20px
    tr
      border-top: 1px solid #dbdbdb
    th, 
    td
      +padding(20px null)

    th
      width: 150px
      font-weight: normal
      color: $green
  
  img
    width: 100%

  +max(1200)
    .f32
      +margin(30px null)

    table
      th, 
      td
        +padding(16px null)

  +max(767)
    .f32
      +margin(15px null)

    table
      th, 
      td
        +padding(14px null)

      th
        width: 140px

  +max(380)
    .f32
      +margin(15px null)

    table
      th, 
      td
        +padding(12px null)

      th
        width: 90px
    

+min(769)
  .container.w90
    width: 90%

.product
  position: relative
  margin-top: 55px
  padding-right: 300px


.recommand
  +position(absolute, 0 50px null null )
  .inner
    width: 190px
  .f18
    margin-bottom: 24px
  a
    width: 100%
    border: 1px solid #ccc
    margin-bottom: 12px

  +min(1366)
    &.sticky
      .outer
        position: fixed
        top: 80px
    &.bottom
      bottom: 0
      top: auto


+max(1365)
  .product
    padding-right: 0

  .recommand
    position: static
    +padding(20px)
    +margin(null null 50px null )
    background-color: #eee
    text-align: center

    .outer
      display: inline-block
      text-align: left
      width: 100%
      max-width: 530px
      
    .inner
      width: 100%
      +fc

    .f18
      +margin(null null 10px 6px)
    a
      +margin(null 6px 0)

+max(450)
  .recommand
    +padding(12px 5px 16px)
    a
      +margin(null 4px null)



.info-top
  +f

.slick-container
  +fcl
  
  margin-right: 60px
  width: 49%
  flex-shrink: 0
  max-width: 540px

  .slick-show
    width: 100%
    margin-bottom: 30px
    border: 1px solid #ccc

  .slick-nav
    width: 90%
    
    img
      border: 1px solid #ccc
      +margin(null 9px null )
      &.slick-current
        border-color: $green


    .slick-prev, .slick-next
      width: 40px
      height: auto

      &:before
        color: #ccc
        font-size: 40px

    .slick-prev
      left: -45px
    .slick-next
      right: -45px

    +max(768)
      .slick-prev, .slick-next
        width: 25px
        &:before
          font-size: 25px

      .slick-prev
        left: -25px
      .slick-next
        right: -25px

  
.summary
  width: 100%

.summary__title
  text-indent: -15px

.summary__sub
  color: #969696  
  padding-bottom: 28px
  margin-bottom: 28px
  border-bottom: 1px solid #ccc

.summary__list

.summary__tag
  border-bottom: 1px solid #ccc
  padding-top: 40px
  margin-bottom: 40px
  position: relative
  .tag
    +position(absolute, 0 null null null )
    background-image: url("./images/0c-bgc.svg")
    background-repeat: no-repeat
    color: #fff
    +size(110px, 75px)
    +fc
    padding-bottom: 15px
    
.summary__price




.price-origin
  font-size: 36px
  color: #969696
  font-family: "Roboto"
  text-decoration: line-through
.price-origin + span
  +margin(null 10px)


.price-discount
  font-size: 50px
  color: $green
  font-family: "Roboto"

.summary__btn
  +f
  height: 70px
  max-width: 440px

.summary__select,
.summary__add
  width: calc(50% - 6px)
  height: 100%
  background-color: $green
  color: #fff
  border-radius: 10px
  font-size: 20px
  white-space: nowrap
  img
    width: auto

.summary__select
  margin-right: 12px
  
  position: relative  
  overflow: hidden
  +padding(null 25px)

  .wrap
    position: relative
    +fc(flex-start)
    +size(100%)
    pointer-events: none

  select
    background-color: transparent
    border-width: 0px
    color: #fff
    +size(100%)

    padding-left: 50%
    text-align: center !important
    +position(absolute, 0 null null 0)

    option
      color: $green


    +trans
    &::-ms-expand
      display: none
    &:hover
      background-color: $greenL
      option
        background-color: #fff
    // &:focus
    // &::placeholder


  [class*="icon"]:before
    // color: #fff
    +position(absolute, 50% 0 null null )
    transform: translateY(-50%)
    pointer-events: none



.summary__add 
  +fc
  cursor: pointer
  img
    margin-right: 15px
  

+max(1200)
  .slick-container
    margin-right: 40px
    width: 37%
    .slick-nav img
      +margin(null 8px null )

  .summary__sub
    padding-bottom: 18px
    margin-bottom: 18px

  .summary__select,
  .summary__add
    font-size: 18px
  .summary__add img
    width: 20px
    
  .summary__btn
    height: 55px

  .price-origin
    font-size: 24px
  .price-discount
    font-size: 36px


+max(767)
  .product
    margin-top: 30px

  .info-top
    flex-direction: column
    align-items: center
    max-width: 500px
    +margin(null auto)

  .slick-container
    +margin(null 0 30px null )
    width: 60%
    .slick-show
      margin-bottom: 15px

  .summary__list 
    font-size: 15px

  .summary__tag
    margin-bottom: 20px
    margin-top: -10px

  .summary__btn
    max-width: 400px
+max(400)
  .slick-container
    width: 80%

    .slick-nav img
      +margin(null 6px null )

  .summary__list 
    font-size: 13px

  .summary__note 
    font-size: 14px

  .summary__btn
    height: 45px

  .summary__select,
  .summary__add
    font-size: 14px

  .summary__add img
    width: 16px
    margin-right: 5px



.tab__nav
  +f
  border-bottom: 1px solid #dbdbdb

  .tab
    background-color: #dbdbdb
    +size(180px, 60px)
    +fc
    margin-right: 40px
    border-radius: 99px
    position: relative
    cursor: pointer
    white-space: nowrap

    &:before
      margin-right: 10px
      font-size: 25px

    &:after
      content: ""
      display: block
      +position(absolute, null null -26px null )
      +size(0)
      border-style: solid
      border-width: 26px 20px 0 10px
      border-color: #dbdbdb transparent transparent transparent

    &:hover,
    &.active
      background-color: $green
      color: #fff
      &:before
        color: #FFF
      &:after
        border-top-color: $green

.tab__content
  margin-bottom: 110px

.tab__nav
  +max(767)
    +margin(null -6px )

    .tab
      +size(140px, 45px)
      +margin(null 6px )
      border-radius: 15px
      
      &:after
        +position(absolute, null null -12px null )

      &:before
        margin-right: 6px
        font-size: 18px

  +max(380)
    .tab
      &:before
        display: none