
extends ./include/layout.pug

block content
  include ./include/nav.pug
  
  .breadcrumb  
    ul.container.nostyle
      li.title
        span.icon-service.f24.mr20.hadCircle
        span.f28 服務中心
      li 首頁
      h2.icon-right 服務中心
      h3.icon-right 常見問題

  .user-menu.mb64
    .toggle-nav
    .toggle-cover.f18
      a(href="news.html") 活動訊息
      a.active(href="faqs.html") 常見問題
      a(href="send.html") 聯絡我們


  .f32.b.tc.mb40 常見問題
  .container.faq.mb80
      
    .faq-menu
      //- .toggle-nav
      ul.toggle-cover.f16.b.nostyle
        li.active 
          span 會員資料
        li 
          span 購物相關
        li 
          span 運送取貨
        li 
          span 退換貨及退款
        li 
          span 訂單相關
        li 
          span 付款相關
        li 
          span 紅利點數

    ul.faq-main.nostyle 
      li
        div.que #[span.g Q. ] 該如何加入會員?
          span.icon-down
        div.ans #[span.g A. ] 請選擇右上角的「註冊」或置底的「註冊會員」，詳細閱讀完大樹會員服務條款後，如果同意請按「我已詳細閱讀並同意會員合約」，繼續填寫會員基本資料。過程中您所填寫的E-mail電子信箱與密碼，將是日後登入使用的會員帳號與密碼，填寫資料完畢後，按「確認送出」後，您會收到『會員認證信』，要求您進行電子信箱認證的動作，並於七日內依指示完成開通帳戶的動作，才算完成註冊程序，成為大樹連鎖藥局的網路會員。
      li  
        div.que #[span.g Q. ] 忘記密碼怎麼辦？
          span.icon-down
        div.ans #[span.g A. ] 請選擇右上角的「註冊」或置底的「註冊會員」，詳細閱讀完大樹會員服務條款後，如果同意請按「我已詳細閱讀並同意會員合約」，繼續填寫會員基本資料。過程中您所填寫的E-mail電子信箱與密碼，將是日後登入使用的會員帳號與密碼，填寫資料完畢後，按「確認送出」後，您會收到『會員認證信』，要求您進行電子信箱認證的動作，並於七日內依指示完成開通帳戶的動作，才算完成註冊程序，成為大樹連鎖藥局的網路會員。
      li  
        div.que #[span.g Q. ] 該如何修改個人資料及密碼？
          span.icon-down
        div.ans #[span.g A. ] 請選擇右上角的「註冊」或置底的「註冊會員」，詳細閱讀完大樹會員服務條款後，如果同意請按「我已詳細閱讀並同意會員合約」，繼續填寫會員基本資料。過程中您所填寫的E-mail電子信箱與密碼，將是日後登入使用的會員帳號與密碼，填寫資料完畢後，按「確認送出」後，您會收到『會員認證信』，要求您進行電子信箱認證的動作，並於七日內依指示完成開通帳戶的動作，才算完成註冊程序，成為大樹連鎖藥局的網路會員。
      li  
        div.que #[span.g Q. ] 訂閱及取消電子報
          span.icon-down
        div.ans #[span.g A. ] 請選擇右上角的「註冊」或置底的「註冊會員」，詳細閱讀完大樹會員服務條款後，如果同意請按「我已詳細閱讀並同意會員合約」，繼續填寫會員基本資料。過程中您所填寫的E-mail電子信箱與密碼，將是日後登入使用的會員帳號與密碼，填寫資料完畢後，按「確認送出」後，您會收到『會員認證信』，要求您進行電子信箱認證的動作，並於七日內依指示完成開通帳戶的動作，才算完成註冊程序，成為大樹連鎖藥局的網路會員。


    
      







