
extends ./include/layout.pug

block content

  .logo_animation
  include ./include/nav.pug


  .footGray
    .index_landing(style="background-image: url('./styles/images/0a-bgc2.jpg')")

      img(src="./styles/images/pointer2.svg", alt="大樹連鎖藥局").pointer

      a(href="favorite.html").love
        img(src="./styles/images/0a-14.png", alt="大樹連鎖藥局").man-m
        span.icon-love
        .inner
          .main 我的最愛
          div 一年內購物紀錄查詢

      a(href="strict.html").strict
        img(src="./styles/images/0a-15.png", alt="大樹連鎖藥局").man-f
        span.icon-strict
        .inner
          .main 熱銷推薦
          div 新品推薦、熱門好物

      .plus-1
        div
      .plus-2
        div
      .plus-3
        div
      .plus-4
        div

    form.index_search
      #catalog-anchor

      .searchbar.pt64.pb40
        .dot
        input(type="search", placeholder="商品搜尋(請輸入關鍵字)")
        button(type="submit").search.icon-scan
          span 搜尋
        a(href="advanced.html").advanced.icon-scan2 進階搜尋

      .tips.pb48
        .multi 使用
          .circle(data-inline="商品搜尋")
            span 商品#[br]搜尋
          | 搜尋商品，或點擊下方
          .circle(data-inline="商品品類")
            span 商品#[br]品類
          | 尋找適合您的商品。

        div 更多的大樹優質商品任您選購!


    .division.container.pb80.pt56.b.f20

      a(href="series.html").block
        img(src="./styles/images/0a-01.jpg", alt="大樹連鎖藥局")
        .title 口服
          span OTC藥

      a(href="series.html").block
        img(src="./styles/images/0a-02.jpg", alt="大樹連鎖藥局")
        .title 外用
          span OTC藥

      a(href="series.html").block
        img(src="./styles/images/0a-03.jpg", alt="大樹連鎖藥局")
        .title 醫材用品

      a(href="series.html").block
        img(src="./styles/images/0a-04.jpg", alt="大樹連鎖藥局")
        .title 保健食品

      a(href="series.html").block
        img(src="./styles/images/0a-05.jpg", alt="大樹連鎖藥局")
        .title 奶粉

      a(href="series.html").block
        img(src="./styles/images/0a-06.jpg", alt="大樹連鎖藥局")
        .title 紙尿褲

      a(href="series.html").block
        img(src="./styles/images/0a-07.jpg", alt="大樹連鎖藥局")
        .title 營養飲品
          span &副食品

      a(href="series.html").block
        img(src="./styles/images/0a-08.jpg", alt="大樹連鎖藥局")
        .title 嬰幼兒
          span 副食品

      a(href="series.html").block
        img(src="./styles/images/0a-09.jpg", alt="大樹連鎖藥局")
        .title 健康照護

      a(href="series.html").block
        img(src="./styles/images/0a-10.jpg", alt="大樹連鎖藥局")
        .title 婦嬰用品

      a(href="series.html").block
        img(src="./styles/images/0a-11.jpg", alt="大樹連鎖藥局")
        .title 醫學美容
          span 保養品

      a(href="series.html").block
        img(src="./styles/images/0a-12.jpg", alt="大樹連鎖藥局")
        .title 居家生活
          span 用品

      a(href="series.html").block
        img(src="./styles/images/0a-13.jpg", alt="大樹連鎖藥局")
        .title 休閒
          span 食用品








