
extends ./include/layout.pug

block content
  include ./include/nav.pug
  
  .breadcrumb  
    ul.container.nostyle
      li.title
        span.icon-service.f24.mr20.hadCircle
        span.f28 服務中心
      li 首頁
      h2.icon-right 服務中心
      h3.icon-right 聯絡我們

  .user-menu.mb64
    .toggle-nav
    .toggle-cover.f18
      a(href="news.html") 活動訊息
      a(href="faqs.html") 常見問題
      a.active(href="send.html") 聯絡我們

  .user-main.container.tc

    .icon-mail.g.mb32

    .f28.b.mb8.wide10 信件已成功送出
    .f16.mb56.lh20 親愛的客戶您好，您的表單已成功送出 #[br] 我們將盡速與您聯繫，謝謝您的支持。

    .btn-container
      a(href="index.html").btn.lg 確定