
extends ./include/layout.pug

block content
  include ./include/nav.pug
  
  
  .breadcrumb
    ul.container.nostyle
      li.title
        span.icon-catogory.f24.mr20.plusCircle
        span.f28 商品品類
      li 首頁
      h2.icon-right 商品品類
      h3.icon-right 保健食品

  .subdivision.pt56.pb56
    .container
      .subdivision__land.mb48
        img(src="./styles/images/0a-04b.jpg", alt="大樹連鎖藥局").mr80
        .text.lh20
          .f24.b.wide10 保健食品
          .f16 大樹藥局提供全年齡層所需之營養保健商品選購；嬰幼兒鈣粉、益生菌、乳鐵蛋白…；孕媽咪葉酸、DHA、孕婦鈣…；成人綜合維他命、B群(善存、克補、合利他命)…；銀髮族鈣片、葉黃素、葡萄糖胺關節保養(維骨力)、娘家滴雞精、娘家益生菌、胎盤粉…。


      .subdivision__list.f20.b
        a(href="catalog.html") 嬰幼兒保健
        a(href="catalog.html") 機能性食品
        a(href="catalog.html") 調節血糖功能
        a(href="catalog.html") 癌症輔療產品
        a(href="catalog.html") 維他命

        a(href="catalog.html") 免疫調節作用
        a(href="catalog.html") 失眠類
        a(href="catalog.html") 美容保養類
        a(href="catalog.html") 孕婦保健
        a(href="catalog.html") 眼睛保健類

        a(href="catalog.html") 男性保健
        a(href="catalog.html") 健髮用品
        a(href="catalog.html") 骨骼關節類
        a(href="catalog.html") 心血管保健
        a(href="catalog.html") 麩醯胺酸

        a(href="catalog.html") 女性保健
        a(href="catalog.html") 輕盈窈窕系列
        a(href="catalog.html") 更年期保健
        a(href="catalog.html") 調整腸胃功能
        a(href="catalog.html") 肝臟保健

        a(href="catalog.html") 神經系統
        


  //- .division.container.pb80.pt56.b.f20

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-01.jpg", alt="大樹連鎖藥局")
  //-     .title 口服
  //-       span OTC藥

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-02.jpg", alt="大樹連鎖藥局")
  //-     .title 外用
  //-       span OTC藥

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-03.jpg", alt="大樹連鎖藥局")
  //-     .title 醫材用品

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-04.jpg", alt="大樹連鎖藥局")
  //-     .title 保健食品

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-05.jpg", alt="大樹連鎖藥局")
  //-     .title 奶粉

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-06.jpg", alt="大樹連鎖藥局")
  //-     .title 紙尿褲

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-07.jpg", alt="大樹連鎖藥局")
  //-     .title 營養飲品
  //-       span &副食品

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-08.jpg", alt="大樹連鎖藥局")
  //-     .title 嬰幼兒
  //-       span 副食品

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-09.jpg", alt="大樹連鎖藥局")
  //-     .title 健康照護

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-10.jpg", alt="大樹連鎖藥局")
  //-     .title 婦嬰用品

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-11.jpg", alt="大樹連鎖藥局")
  //-     .title 醫學美容
  //-       span 保養品

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-12.jpg", alt="大樹連鎖藥局")
  //-     .title 居家生活
  //-       span 用品

  //-   a(href="series.html").block
  //-     img(src="./styles/images/0a-13.jpg", alt="大樹連鎖藥局")
  //-     .title 休閒
  //-       span 食用品













