
extends ./include/layout.pug

block content
  include ./include/nav.pug
  include ./include/component.pug


  //- #favorite
  .breadcrumb
    
    ul.container.nostyle
      li.title
        span.icon-strict.f24.mr20.plusCircle
        span.f28 熱銷推薦
      li 首頁
      h2.icon-right 熱銷推薦


  form(action="").pt56.pb56

    h3.pb56.f32.tc 新品推薦、熱門好物

    .cards.container
      +card(1)
      +card(2)
      +card(3)
      +card(4)
      +card(2)
      
      +card(2)
      +card(4)
      +card(1)
      +card(3)
      +card(1)
      
      +card(1)
      +card(3)
      +card(4)
      +card(2)
      +card(4)
      
      +card(2)
      +card(4)
      +card(1)
      +card(3)
      +card(1)

      .card__pad.push
      .card__pad.push
      .card__pad.push
      .card__pad.push


    .pages.pb32
      a(href="#").icon-page-1
      a(href="#").icon-page-2
      a(href="#").active 1
      a(href="#") 2
      a(href="#") 3 
      a(href="#") 4
      a(href="#") 5
      a(href="#").icon-page-3
      a(href="#").icon-page-4  