
extends ./include/layout.pug

block content
  include ./include/nav.pug
  include ./include/component.pug


  //- #favorite
  .breadcrumb
    
    ul.container.nostyle
      li.title
        span.icon-strict.f24.mr20.plusCircle
        span.f28 熱銷推薦
      li 首頁
      h2.icon-right 熱銷推薦


  form(action="").pt56.pb56
    h3.pb56.f32.tc 新品推薦、熱門好物

    //- .favorite_filter.f20.b.container
    //-   a(href="catalog.html") 嬰幼兒保健
    //-   a(href="catalog.html") 機能性食品
    //-   a(href="catalog.html") 調節血糖功能
    //-   a(href="catalog.html") 癌症輔療產品
    //-   a(href="catalog.html") 維他命

    //-   a(href="catalog.html") 免疫調節作用
    //-   a(href="catalog.html") 失眠類
    //-   a(href="catalog.html") 美容保養類
    //-   a(href="catalog.html") 孕婦保健
    //-   a(href="catalog.html") 眼睛保健類

    //-   a(href="catalog.html") 男性保健
    //-   a(href="catalog.html") 健髮用品
    //-   a(href="catalog.html") 骨骼關節類
    //-   a(href="catalog.html") 心血管保健
    //-   a(href="catalog.html") 麩醯胺酸

    //-   a(href="catalog.html") 女性保健
    //-   a(href="catalog.html") 輕盈窈窕系列
    //-   a(href="catalog.html") 更年期保健
    //-   a(href="catalog.html") 調整腸胃功能
    //-   a(href="catalog.html") 肝臟保健

    //-   a(href="catalog.html") 神經系統
    


    .cards.container
      +card(1)
      +card(2)
      +card(3)
      +card(4)
      +card(2)
      
      +card(2)
      +card(4)
      +card(1)
      +card(3)
      +card(1)
      
      +card(1)
      +card(3)
      +card(4)
      +card(2)
      +card(4)
      
      +card(2)
      +card(4)
      +card(1)
      +card(3)
      +card(1)

      .card__pad.push
      .card__pad.push
      .card__pad.push
      .card__pad.push


    .pages.pb32
      a(href="#").icon-page-1
      a(href="#").icon-page-2
      a(href="#").active 1
      a(href="#") 2
      a(href="#") 3 
      a(href="#") 4
      a(href="#") 5
      a(href="#").icon-page-3
      a(href="#").icon-page-4  