doctype html
html(lang='zh-TW')
  head
    include include/head.pug

  body
    main.wp
    
      #login(style="background-image: url('./styles/images/login-bgc.jpg')")
        .scrollbarY
          .modal.sm
            .modal__head.pt48.pb40
              img(src="./styles/images/p-title.png", alt="大樹連鎖藥局").pt4

            .modal__content.lh18
              .f20.mb4.g.b 重新設置密碼
              .f16.mb20 請輸入您的帳號，系統將發送驗證碼至您的帳號，#[br] 並請選擇發送驗證碼方式
              input(type="text", placeholder="請輸入帳號").mb20.wide5.sq

              .block
                .radio_unit
                  input(type="radio", name="verify_type" id="cellphone")
                  label(for="cellphone") 手機簡訊
                .radio_unit
                  input(type="radio", name="verify_type" id="email")
                  label(for="email") 電子郵件
                  
              .block.b
                a(href="verified-forget.html").btn.sq 發送驗證碼

    include include/defaultJs.pug  
