
//- script(src='./scripts/plugins/jquery.min.js', type='text/javascript', charset='utf-8')
//- script(src='./scripts/plugins/jquery.easing.1.3.js', type='text/javascript', charset='utf-8')

//- script(src='./scripts/plugins/slick.js', type='text/javascript', charset='utf-8')

//- script(src="./scripts/plugins/imgLiquid.js")
//- script(src='./scripts/plugins/jquery.focuspoint.js', type='text/javascript', charset='utf-8')
//- script(src='./scripts/plugins/SplitText.js', type='text/javascript', charset='utf-8')
//- script(src='./scripts/plugins/TweenMax.min.js', type='text/javascript', charset='utf-8')
//- script(src='./scripts/plugins/velocity.min.js', type='text/javascript', charset='utf-8')
//- script(src='./scripts/plugins/ScrollMagic.js', type='text/javascript', charset='utf-8')
//- script(src='./scripts/plugins/debug.addIndicators.js', type='text/javascript', charset='utf-8')
//- script(src='./scripts/plugins/animation.gsap.js', type='text/javascript', charset='utf-8')
//- script(src="./scripts/plugins/lity.min.js")
script(src='./scripts/plugins/vendor.js', type='text/javascript', charset='utf-8')
script(src='./scripts/ui.js', type='text/javascript', charset='utf-8')




