
#footer

  .sitemap
    ul.sitemap__content.nostyle.map
      li
        //- a(href="http://html.m000227.youweb.tw/birth.html" , target="_blank").f20 月子養生餐

  address.address
    a(href="index.html").address__logo
      //- img(src="./styles/images/01-banner-title.png", alt="紫金堂")

    .address__content

      ul.address__location.nostyle
        li 服務據點：
          
      //- .address__contact
      //-   a(href="https://goo.gl/maps/iUgK8fcwDwP2" , target="_blank").addr 11492 台北市內湖區瑞光路 513 巷 28 號 8 樓
      //-   span /&nbsp;
      //-   a(href="tel:02-8751-8888").tel 02-8751-8888
      //-   span /&nbsp;
      //-   a(href="mailto:service@tasteforlife.com.tw") service@tasteforlife.com.tw

      //- .address__copyright.f14
      //-   span © 2005-2017 Zi Jin Tang Co.,Ltd. All rights reserved.
      //-   span &nbsp;/&nbsp;
      //-   a(href="https://ecreative.tw/", target="_blank") Designed by MINMAX 網頁設計

//- 客服電話，週一~週五 9:00~12:00, 13:00~17:00
//- 03-4554585 # 257 
//- 320 台灣桃園市中壢區成章四街143號
//- 320 台灣桃園市中壢區高邊路1號
//- gtservice@greattree.com.tw 


//- 產品專區

//- 醫材用品
//- 保健食品
//- 奶粉
//- 紙尿褲

//- 營養飲品&副食品
//- 嬰幼兒副食品
//- 健康照護
//- 婦嬰用品

//- 醫學美容保養品
//- 居家生活用品
//- 休閒食用品



//- 會員中心

//- 購買過商品
//- 訂單紀錄
//- 會員資料管理
//- 常用聯絡資訊
//- 紅利點數查詢


//- 服務中心

//- 活動資訊
//- 常見問題Q&A
//- 聯絡我們


//- Copyright © 2016 大樹連鎖藥局. All Rights Reserved.    /    Designed by MINMAX 網頁設計