
//- footer(style="background-image: url('./styles/images/p-footer.svg')")
footer
  svg(width='100%', height='100%', viewBox='0 0 1921 445', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', xmlns:serif='http://www.serif.com/', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;' preserveAspectRatio="xMidYMid slice")

    path(id="svg2" d='M2,63C471.056,65.087 549.546,168.869 976,170C1402.45,171.131 1558.92,68.582 1921,63L1921,445L0,445L0,63'  style="fill:rgb(43, 171, 74)" )
  path(id="svg1" d='M2,63C471.056,65.087 549.546,-1.131 976,0C1402.45,1.131 1558.92,68.582 1921,63L1921,445L0,445L0,63')

  a.icon-up.go-top

  .wrapper.container
    address
      a(href="index.html").address__logo.mb20
        img(src="./styles/images/p-title-white.png", alt="大樹連鎖藥局")

      ul.address__content.nostyle.f15
        li 客服電話，週一~週五 9:00~12:00, 13:00~17:00
        li 
          a(href="tel:03-4554585").tel.f24.mb8 03-4554585#257 
        li 
          a(href="https://goo.gl/maps/P4nDXt3eZUs" , target="_blank").addr 320 台灣桃園市中壢區成章四街143號
        li 
          a(href="https://goo.gl/maps/kPFv3DVMwhz" , target="_blank").addr 320 台灣桃園市中壢區高邊路1號
        li 
          a(href="mailto:gtservice@greattree.com.tw ") gtservice@greattree.com.tw 


        
    //- .sitemap
    //-   .block.tri
    //-     .title 產品專區
    //-     ul.nostyle.f15
    //-       li: a 醫材用品
    //-       li: a 營養飲品&副食品
    //-       li: a 醫學美容保養品
    //-       li: a 保健食品
    //-       li: a 嬰幼兒副食品
    //-       li: a 居家生活用品
    //-       li: a 奶粉
    //-       li: a 健康照護
    //-       li: a 休閒食用品
    //-       li: a 紙尿褲
    //-       li: a 婦嬰用品
    //-       li.pad
    //-       li.pad

    //-   .block
    //-     .title 會員中心
    //-     ul.nostyle.f15
    //-       li: a(href="favorite.html") 購買過商品
    //-       li: a(href="order.html") 訂單紀錄
    //-       li: a(href="profile.html") 會員資料管理
    //-       li: a(href="contact.html") 常用聯絡資訊
    //-       li: a(href="bonus.html") 紅利點數查詢

    //-   .block
    //-     .title 服務中心
    //-     ul.nostyle.f15
    //-       li: a(href="news.html") 活動資訊
    //-       li: a(href="faqs.html") 常見問題Q&A
    //-       li: a(href="send.html") 聯絡我們

    .column-wrap
      .sitemap 
        a(href="index.html#catalog-anchor") 產品專區 
        a(href="order.html") 會員中心
        a(href="news.html") 服務中心

      .media
        a(href="https://www.facebook.com/greattreemall/",target="_blank").icon-facebook
        a(href="https://line.me/R/ti/p/@gtmall").icon-line


  .copyright.f15
    span Copyright © 2016 大樹連鎖藥局. All Rights Reserved.
    //- span.slash /
    //- a(href="https://ecreative.tw/", target="_blank") Designed by MINMAX 網頁設計
    a(href="https://minmax.tw/", target="_blank").sr-only Designed by MINMAX 網頁設計







