
//- Title and Meta==================================================
meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
title 大樹醫藥-會員購系統
meta(name='author', content='')
meta(name='description', content='')
meta(name='keywords', content='')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

//- Facebook Open Graph Meta==================================================
meta(property='og:title', content='')
meta(property='og:url', content='')
meta(property='og:site_name', content='')
meta(property='og:description', content='')
meta(property='og:image', content='')

link(rel="icon" type="image/x-icon" href="./styles/images/logo-small.png")
link(type='text/css', href='./styles/style.css', rel='stylesheet')

script(src='https://www.google.com/recaptcha/api.js')

