doctype html
html(lang='zh-TW')
  head
    include ../include/head.pug

  body
    main.wp
      #fixed-cover
      
      block content
      
      
      include ../include/footer.pug
      
    include ../include/defaultJs.pug  

