
#nav
  .container

    .landing
      .container
        a(href="index.html").logo
          h1.sr-only 大樹會員購系統
          img(src="./styles/images/p-title.png", alt="大樹藥局")

        a(href="cart.html").love
          span.icon-love
          .inner
            .main 我的最愛
            div 一年內購物紀錄查詢

        a(href="cart.html").strict
          span.icon-strict
          .inner
            .main 大樹嚴選
            div 新品推薦、熱門好物


    .outside
      a(href="#", title="大樹健康藥局官方網站")  大樹健康藥局官方網站
      a(href="#", title="大樹健康購物網")  大樹健康購物網
      a(href="#", title="facebook").icon-facebook
      a(href="#", title="line").icon-line

  
    a(href="cart.html").scan
      span.icon-scan
      span 商品搜尋

    a(href="cart.html").catogory
      span.icon-catogory
      span 商品品類

    a(href="cart.html").user
      span.icon-user
      span 會員中心

    a(href="cart.html").service
      span.icon-service
      span 服務中心

    a(href="cart.html").cart
      span.icon-cart
      span 我的購物車(3)

    .nav__toggle
      .one
      .two
      .three
