
.navPad


#nav

  a(href="index.html").nav__logo
    h1.sr-only 大樹會員購系統
    img(src="./styles/images/p-title.png", alt="大樹藥局")

  a(href="favorite.html").moblie.nav__favorite
    span.icon-love
    .inner
      .main 我的最愛
      div 一年內購物紀錄查詢

  a(href="strict.html").moblie.nav__strict
    span.icon-strict
    .inner
      .main 大樹嚴選
      div 新品推薦、熱門好物

  a(href="cart.html").moblie.nav__cart
    span.icon-cart
    .text 我的購物車(
      span.cart__num 3
      | )


  .nav__toggle
    .one
    .two
    .three

  .nav__cover
    .nav__external
      a(href="#", title="大樹健康藥局官方網站")  大樹健康藥局官方網站
      a(href="#", title="大樹健康購物網")  大樹健康購物網
      a(href="https://www.facebook.com/www.greattree.com.tw", target="_blank").icon-facebook
      a(href="https://line.me/R/ti/p/%40greattree?fbclid=IwAR2YBIcJE5aHFnmw1QM9kyZvfYQkTdEq1uZgTz98WxoCDq8e6_vvLDo8ZVA",  target="_blank").icon-line

    a.scan
      span.icon-scan
      span 商品搜尋

    a.catogory
      span.icon-catogory
      span 商品品類

    a(href="order.html").user
      span.icon-user3
      span 會員中心

    a(href="news.html").news
      span.icon-service
      span 服務中心
        
        

