
#nav
  .container
    a(href="index.html").logo
      h1.sr-only 紫金堂月子中心
      //- img(src="./styles/images/00-icon.png", alt="紫金堂")
    .nav__content
      ul.nostyle.nav_office
        li: a(href="http://html.m000227.youweb.tw", target="_blank") 紫金堂官網

        a(href="member.html").login.icon-user 登入
        a(href="cart.html").cart.icon-cart
          .bedge 2
          .circle

      .nav__toggle
        .one
        .two
        .three


      #nav_cover
        ul.nostyle.nav_shop
          li: a(href="index.html") 商品專區
          li: a(href="member.html") 會員專區
          li: a(href="qa.html") 常見問題
          li: a(href="guest-login-order.html") 非會員查詢

          
      

