
.navPad


#nav

  a(href="index.html").nav__logo
    h1.sr-only 大樹連鎖藥局 - 會員購系統
    img(src="./styles/images/p-title.png", alt="大樹藥局")

  a(href="favorite.html").moblie.nav__favorite
    span.icon-love
    .inner
      .main 我的最愛
      div 一年內購物紀錄查詢

  a(href="strict.html").moblie.nav__strict
    span.icon-strict
    .inner
      .main 熱銷推薦
      div 新品推薦、熱門好物

  //- a(href="cart.html").moblie.nav__cart
  a.moblie.nav__cart
    span.icon-cart
    .text 我的購物車(
      span.cart__num 3
      | )


  .nav__toggle
    .one
    .two
    .three

  .nav__cover
    .menu__logo 
      img(src="./styles/images/p-title-white.png", alt="大樹藥局")
    ul.nav__bgc.nostyle
      li
        .before
        .after
      li
        .before
        .after
      li
        .before
        .after

    .nav__external
      a(href="http://www.greattree.com.tw/", target="_blank", title="大樹健康藥局官方網站")  大樹健康藥局官方網站
      a(href="https://shop.greattree.com.tw/greattree/", target="_blank", title="大樹健康購物網")  大樹健康購物網
      a(href="https://www.facebook.com/www.greattree.com.tw", target="_blank").icon-facebook
      a(href="https://line.me/R/ti/p/%40greattree?fbclid=IwAR2YBIcJE5aHFnmw1QM9kyZvfYQkTdEq1uZgTz98WxoCDq8e6_vvLDo8ZVA",  target="_blank").icon-line

    a.scan
      span.icon-scan
      span 商品搜尋

    //- a.catogory
    a(href="index.html#catalog-anchor") 
      span.icon-catogory
      span 商品品類

    a(href="order.html").user
      span.icon-user3
      span 會員中心

    a(href="news.html").news
      span.icon-service
      span 服務中心
        
form(action="result.html").nav__search
  .container
    input(type="text", placeholder="產品關鍵字搜尋...").searchBar
    button(type="submit").icon-scan.mr20.f20 搜尋
    a(href="advanced.html").icon-scan2.btn.lg.f20 進階搜尋
    .search-close




#dashboard
  .title
    .icon-cart.f18.g 採購清單 (#[span.cart_num.robo 3])
    .icon-right

  .content
    //- .scrollbarY.mCustomScrollbar(data-mcs-theme="dark-thick")
    .scrollbarY.mCustomScrollbar_index
      .block
        img(src="./styles/images/1a-01.jpg", alt="大樹連鎖藥局")
        a(href="product.html").text
          .g 【娘家】 益生菌（2g/包，60包/盒)
          div #[span.price-per $2,200]  /  數量：#[span.nul 1]
        .delete
    
      .block
        img(src="./styles/images/1a-02.jpg", alt="大樹連鎖藥局")
        a(href="product.html").text
          .g 【歐典生機】養生雪晶耳冰糖植物性膠原飲
          div #[span.price-per $280]  /  數量：#[span.nul 5]
        .delete
    
      .block
        img(src="./styles/images/1a-03.jpg", alt="大樹連鎖藥局")
        a(href="product.html").text
          .g 【BioJoy百喬】奇亞酵素輕纖飲_Chia奇亞籽蔬果酵素５合１（12包/盒）
          div #[span.price-per $488]  /  數量：#[span.nul 2]
        .delete
    
      .block
        img(src="./styles/images/1a-01.jpg", alt="大樹連鎖藥局")
        a(href="product.html").text
          .g 【娘家】 益生菌（2g/包，60包/盒)
          div #[span.price-per $2,200]  /  數量：#[span.nul 1]
        .delete
    
      .block
        img(src="./styles/images/1a-02.jpg", alt="大樹連鎖藥局")
        a(href="product.html").text
          .g 【歐典生機】養生雪晶耳冰糖植物性膠原飲
          div #[span.price-per $280]  /  數量：#[span.nul 5]
        .delete
    
      .block
        img(src="./styles/images/1a-03.jpg", alt="大樹連鎖藥局")
        a(href="product.html").text
          .g 【BioJoy百喬】奇亞酵素輕纖飲_Chia奇亞籽蔬果酵素５合１（12包/盒）
          div #[span.price-per $488]  /  數量：#[span.nul 2]
        .delete

  .foot
    a(href="cart.html").btn.sm.bttn-jelly 開啟購物車
    div
      span.price-total.f24 $5,480
      span (折扣後金額，不含運費)


